body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(th-743983956.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}


h1{
    font-size:100px; 
    color:lemonchiffon; 
    font-family: 'Secular One', sans-serif;
}
h2{
    color:lemonchiffon;
    font-family:'Secular One', sans-serif;
}